body {
	border-top: 4px solid #F9A7B0;
}
input.submit, input.submit:focus, input.submit:active {
	background: #F9A7B0;
}
a { 
	color: #F9A7B0;
}
.title a:hover {
	color: #F9A7B0;
}
#back-top a:hover {
	background-color: #F9A7B0;
}
#notification-wrapper {
	background: #F9A7B0;
}
.social-bookmarks li a {
	background-color: #F9A7B0;
}
.social-bookmarks li.text {
	background-color: #F9A7B0;
}
#primary-menu ul li:hover ul li a:hover { 
    background: #F9A7B0; 
}
.section-title h1 {
	color: #F9A7B0;
}
#footer a:hover {
	color: #F9A7B0;
}
.photostream a:hover, #footer .photostream a:hover {
	background-color: #F9A7B0;
}
#services-graph li span {
	background:  #F9A7B0;
}
.highlight1 {
	background-color: #F9A7B0;
}
.button.grey:hover {
	background-color: #F9A7B0;
}
.portfolio-grid .item-info-overlay {
	background-color: #F9A7B0;
}
.filterable li.current a {
	background-color: #F9A7B0;  
}
ul.item-nav li a:hover {
	background-color: #F9A7B0;
}



.widget ul li a:hover {
    color: #F9A7B0;
}
.entry-title h2.title a:hover {
    color: #F9A7B0;
}
.entry-meta a:hover {
    color: #F9A7B0;
}
.entry-date a {
    background-color: #F9A7B0;
}
#comment-list .comment-author a:hover {
	color: #F9A7B0;
}
#comment-list .avatar:hover {
	background-color: #F9A7B0;
}
#comment-list .reply a:hover {
	color: #F9A7B0;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background-color: #F9A7B0;
}


.slideshow-container { 
	background-color: #F9A7B0; 
	color: #fff;
}
.slideshow-container .section-title { color: #fff; }
.slideshow-container .section-title h1 { color: #fff; }